<div id='bar' class='container-fluid typeahead-demo'>

    <!--    <pre>{{asyncSelected}}</pre>-->
    <input id='inp' type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" uib-typeahead="address.entityName for address in search($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" placeholder={{asyncSelected}}>
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>

    <button type="submit" class='btn btn-primary' ng-click='find()'>click</button>
</div>
<!--
<div class='dropdown'>
    <form ng-submit="find()">
        <input type="text" ng-model="string" ng-keyup="search(string)" placeholder="{{string}}" ng-mouseover="clear()" />
        <input type="submit" />
    </form>
    {{message}}

    <div ng-repeat='str in searchResults'>-
        <ul>
            <li ng-click="setProject(str)">
                {{str.coreText}}
            </li>
        </ul>
    </div>
</div>
-->
<div ng-show="tab==2">

    <h4 ng-click="tab=2">Time</h4>


    <label ng-repeat="name in time">
        <input type="radio" name='k2' value="{{name}}" ng-model="time" ng-click="setValTime(name)"> {{name.add[0].range}} Min
    </label>
    <br>
    <label ng-repeat="type in types">
        <input type="radio" name='k1' value="{{type}}" ng-model="types" ng-change="setValType(type)"> {{type}}
    </label>
    <div id="bar" ng-if='updateCompletion'>
        <uib-progressbar value="updateCompletion"></uib-progressbar>
    </div>
    <div id="bar" ng-if='updateCompletion>100'>
        <strong> Red </strong> marker is source
        <br>
        <strong> Blue </strong> markers are search results
        <br>
    </div>
</div>