#map {
    z-index: 99;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid black;
}

search {
    z-index: 100;
    position: absolute;
}

#inp {
    width: 300px;
}

.infoWindowContent {
    font-size: 14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.infoWindowContent {
    font-size: 14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#bar {
    z-index: 999;
    position: absolute;
}