 #map {
     height: 100%;
     width: 100%;
     position: absolute;
     border: 1px solid black;
 }
 
 .infoWindowContent {
     font-size: 14px !important;
     border-top: 1px solid #ccc;
     padding-top: 10px;
 }
 
 search {
     top: 20%;
     position: absolute;
     left: 5%;
     width: 250px;
     height: 80%;
 }
 
 #bar {
     position: absolute;
     width: 230px;
     height: 100px;
 }
 
 ul:hover {
     position: relative;
     background-color: beige;
 }